// These colors are specific to the theme. Do not use in a package!

@ghost-white: #f8f8f0;
@light-ghost-white: #f8f8f2;
@light-gray: #ccc;
@gray: #888;
@brown-gray: #49483e;
@dark-gray: #282828;

@yellow: #e6db74;
@blue: #66d9ef;
@pink: #f92672;
@purple: #ae81ff;
@brown: #75715e;
@orange: #fd971f;
@light-orange: #ffd569;
@green: #a6e22e;
@sea-green: #529b2f;
